<h1 class="text-center" style="font-size: 3rem; font-weight: 400;">
    Our Team
</h1>
<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="../../assets/Dr. Roman Rittweger - Founder & CEO.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Dr. Roman Rittweger</h2>
          <h4 class="text-danger"> Founder & CEO</h4>
         
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="../../assets/Frank Birzle - Founder.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Frank Birzle</h2>
          <h4 class="text-danger"> Founder </h4>
          <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a><p></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="../../assets/Sebastian Scheerer - Founder & CDO.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Sebastian Scheerer</h2>
          <h4 class="text-danger"> Founder & CDO </h4>
          <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a><p></p>
        </div><!-- /.col-lg-4 -->
      </div>
</div>
<div class="container marketing">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="../../assets/ottonova Gr├╝nder.jpg"  alt="Generic placeholder image">
      </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="../../assets/ottonova Gr├╝nder 2.jpg" alt="Generic placeholder image">
      </div>
    </div>
    
    <hr class="featurette-divider">
</div>

